/* screen.css
 */

/* @group Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,abbr { margin:0; padding:0;}
/* @end */

body {
	font-family: "Helvetica",Palatino, georgia,"times new roman",sans-serif,Palatino;
    background-color: white;
	background-position: center -5em;
}
/* IE6 ignores this and uses default size of 1.1em */
html>body { font-size: 1.1em; }
p { margin: 0 0 1.5em 0; text-align: justify; }
a { text-decoration: none; color: #585858; }
a:hover { text-decoration: underline; #585858; }
h1,h2,h3,h4 { 
    font-size: 1.5em;
	font-weight: normal; 
	line-height: 100%;
    font-variant: normal; 
    margin: 1.5em 0 0.5em 0;
    clear: left; 	
	font-family: "Helvetica",'lucida grande', sans-serif; 
}
h1 { font-size: 130%; }
h2,h3,h4 { 
    font-size: 120%; 
    margin: 0;   
}
sup { line-height: 1ex; }
#site {
	max-width: 60em;
	margin: 0.1em auto 0 auto;
	line-height: 120%;
}
#page, #disqus_thread {
	background: white;
	padding: 0.5em 0.5em 2em 0.5em;
    margin-top: 0.5em;
}
#disqus_thread { padding-top: 0; }
blockquote {
	font-size: 1.1em;
	line-height: 120%;
	padding: 0.2em 1.5em 0.2em 1.5em;
	margin-left: 1.2em;
	color: #848484;
    border-left: 2px solid #D8D8D8;
}

/* @group Header */
#header, #header a { color: #F2F2F2; border-bottom: none; }
#header:hover a { text-decoration: none; }
#header {
	position: relative;
	font-variant: small-caps;
    padding-left: 1em;
    border: 1px solid white;
    background-color: #585858;
    font-family: "Helvetica",Palatino,georgia,"times new roman",serif;
}
#header h1 a{
    font-size: 1em;
	font-weight: bold;
	line-height: 0;
	font-family: "Helvetica",Palatino, georgia, "times new roman", serif;
}
#header ul {
	text-align: right;
	position: absolute;    
	display: inline;
	margin: 0;
    top: 0;
    right: 0;
	width: 80%;
}
#header ul li { display: inline; }
#header ul li a {
    font-size: 1em;
    line-height: 4em;
	padding: 0.5em;
	display: inline;
}
#header ul li a:hover {
	color: #1C1C1C;
    background-color: #F2F2F2;
    line-height: 100%;
	border-bottom: none;
    text-decoration: none;
}
/*
body #home #header a.home,
body #archive #header a.archive,
body #categories #header a.categories,
body #links #header a.links,
body #about #header a.about
 { 
    color: #585858;
    background-color: white;
}
*/
/* @end */

/* @group Code */
pre {
	margin: 1em 0 1.5em 0;
	font-size: 1em; /* Hack to make code look same size as body font */  
	line-height: 130%;	
	color: #111;
	background: #F2F2F2;
	border: 1px solid #ddc;
	padding: 0.5em 1em;
    overflow: auto;
}
pre:hover {
	border-right: none;
	overflow: auto;
}
code {
    font-family: "Consolas","Helvetica",'lucida grande';
	font-size: 1em;
	background-color: #F2F2F2;
	line-height: 140%;
    height: 100px;
    resize: vertical;
    overflow: auto;
}
pre > code {
	background-color: transparent;
}
/* @end */

/* @group Footnotes */
.footnotes { color: grey; }
.footnotes:hover { color: black; }
.footnotes ol li {
	list-style-type: decimal;
	list-style-position: inside;
	font-size: 75%;
	line-height: 1.5em;
}
.footnotes ol li > a { display: none; }
/* @end */

/* @group Signature */
.signature { 
    font-size: 0.8em;
	margin-top: 1em; 
	float: right;
}
.signature .author {
    color: #DF0101;
    font-weight: normal;
}
/* @end */

/* @group Disqus */
#disqus_thread {
	margin-top: 2.93em;
}
.dsq-comment-body {
	text-align: justify;
	line-height: 1.29em;
}
.dsq-comment {
	padding-top: 0 !important;
	margin-top: 1.7em !important;
	margin-bottom: 1.9em !important;
	background-image: none !important;
}
.dsq-comment-message {
	line-height: 1.714em;
}
.dsq-comment-header {
	background-color: whitesmoke !important;
	border-top: 1px solid silver !important;
	border-bottom: 1px solid silver !important;
	margin-bottom: 1.15em !important;
}
.dsq-header-time { margin-left: 0 !important; }
.dsq-comment-header cite { 
	font-variant: small-caps;
	margin-left: 0 !important;
}
.dsq-comment-footer { 
	font-size: 75% !important; 
	margin-top: 1px !important;
}
#dsq-options {
	background: whitesmoke;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	padding: 0 0 0 1em;
}
#dsq-comments-count {
	margin-top: 0.8em !important;
	margin-bottom: 1.2em !important;
}
#dsq-extra-links { padding-left: 0 !important; }
#dsq-extra-links li img { display: none; }
#dsq-options-toggle { color: silver; font-size: 75% !important;}
#dsq-add-new-comment {
	margin-top: 1.19em !important;
	margin-bottom: 1.25em !important;
}
/* The following position, width and height ensure
 * that none of the body in the iframe shows through.
 */
form#comment {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white !important;
}
/* @end */

/* @group LibraryThing */
span.LTtitle { display: none; }
div.LTitem { display: inline; margin-right: 0.7em; }
div.LTprovided { display: none; }
/* @end */

/* @group Last.fm */
#lastfm a { margin-right: 0.7em; }
/* @end */

/* @group Footer */
#footer {
	margin-top: 0;
	color: grey;
	font-size: 87.5%;
	line-height: 1.3em;
}
#footer address {
	position: relative;
	margin: .5em 0 0 0;
	text-align: right;
}
#footer a {
	font-style: normal;
	color: #77d;
	text-decoration: none;
}
#footer .copyright {
	position: absolute;a
	left: 0;
	text-align: left;
	display: block;
}
#footer .engine {
	position: absolute;
	text-align: right;
	display: block;
	right: 0;
}
/* @end */

/* @group Equations */
div.maruku-equation { display: block ;text-align: center; }
div.maruku-equation img.maruku-png { position: relative; top: -0.75em;}
span.maruku-inline { }
img.maruku-png { }

/* tag_box ======================================================== */
.tag_box {
	list-style:none;
	margin-top: 5px;
	padding:2px;
	overflow:hidden;
    font-size: 12px;
}
.tag_box li {
	list-style:none;
	line-height:13px;
}
.tag_box.inline li {
    margin: 1px;
    padding: 4px;
	float:left;
}
.tag_box a {
	padding: 2px 3px;
	margin: 0;
	background: #eee;
	border-radius: 3px;
	border:1px dashed #ccc;
	text-decoration:none;
    color: #DF0101;
    font-size: 11px;
}
.tag_box a span{
	vertical-align:super;
	font-size:8px;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* @end */

/* @group FancyFirst */
.emphnext{
    font-size: 1.4em;
    border-bottom: 1.5px solid silver;
    margin-bottom: 1em;
}
/* @end */

.right { float: right; clear: left; }
.left { float: left; clear: right; }
.inset { 
	border: 1px solid silver; 
	padding: 2px;
	margin: 0em 1em 0.8em 1em;
}
.right.inset { margin-right: 0 !important; }
.left.inset { margin-left: 0 !important; }
.quiet {
	color: grey;
	font-size: 0.875em;
	line-height: 1.714em;
}

li p {
	 margin-bottom: 0;
	 margin-top:  0;
}

/* @group Table */
table {
	margin: 1.5em auto 1.5em auto;
	table-layout: fixed;
	border-spacing: 0;
}
table th { text-align: center; font-weight: bold; background-color: #eeeeee; }
table td { background-color: white; padding: 0 1em; }
table th.title { border-bottom: 1px solid gray; border-top: 1px solid gray; vertical-align: bottom; 
background-color: lightgrey; }
table tr.end td { border-bottom: 1px solid #eeeeee; }

.figure { border: 1px solid #eee; margin-bottom: 1em; padding: 1em 1em 0 1em; }
.figure img { width: 95%; margin: 1em auto 0 auto; } 
.figure p, dl.figure dt, caption { 
	color: #333;
	font-size: 0.875em;
	line-height: 1.14em;
	text-align: center;
}
.nostretch .figure img { width: auto !important; }

.figure p, dl.figure dt { margin: 0.875em auto 0 auto; }
caption { margin: 0 auto 0.875em  auto; }

table.data tr { text-align: center; }

/* @end */

/* @group Lists */
ul {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 1.5em;
	padding-left: 1.5em;
}
ul li {
	list-style-type: square;
	list-style-position: outside;
}
ol li {
	list-style-type: decimal;
	list-style-position: inside;
}
dt { font-weight: bold;}
dd { margin: 0 0 1.5em 0; text-align: justify; }

ul.compact { margin: 0; padding: 0;}
ul.compact li { list-style: ;
	list-style-type: square;
	list-style-position: inside;
}
ul.compact li span.date {	
	display: none;
	color: grey;
	width: 20%;
}
ul.compact li a {
	width: 70%;
}
/* @end */



